<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemons 🙌</title>
</head>
<body>

    <div class="container">
        <img src="/banner.jpg" height="100" width="auto">
        <nav>
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/pokemon">Pokemons</a></li>
                <li><a href="/pokemon/create">Crea tu pokemon</a></li>
            </ul>
        </nav>
    {{{ body }}}
    </div>
</body>
</html>